<!-- Toolbar -->
<div class="toolbar" role="banner">
   <img width="40" alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
   <span>Welcome</span>
   <div class="spacer"></div>
</div>

<div class="content" role="main">
   <!-- Highlight Card -->
   <div class="card highlight-card card-small">
      <span>{{ title }} app is running!</span>
   </div>

   <form #myForm="ngForm" (ngSubmit)="submitHandler(myForm)" style="margin-bottom: 30px">

      <mat-form-field>
         <!-- memberid inside ngClass below refers to the getter method in component file -->

         <input matInput [ngClass]="{
            'has-danger': memberid?.errors && memberid?.touched,
            'has-success': memberid?.errors == null
          }" name="memberId" [(ngModel)]="memberDetails.memberId" #member="ngModel" required placeholder="memberid" />
      </mat-form-field>
      <!-- member within ngIf refers to local template reference variable above -->
      <p style="color: red; margin: 5px" *ngIf="member?.errors && member?.touched">
         Please enter a valid member Id
      </p>


      <mat-form-field>
         <input matInput name="age" [(ngModel)]="memberDetails.age" required placeholder="age" />
      </mat-form-field>

      <!-- ngModelGroup is used to create nested formGroup -->
      <div ngModelGroup="address">

         <mat-form-field>
            <input matInput name="street" ngModel placeholder="street" />
         </mat-form-field>
         <mat-form-field style="margin-left: 10px;">
            <input matInput name="city" placeholder="city" ngModel />
         </mat-form-field>

      </div>

      <button mat-raised-button color="primary" [disabled]="!myForm.valid">Submit</button>
      <!-- <div *ngIf="getName()"></div> -->
      <p style="margin: 10px">{{ myForm.value | json }}</p>
   </form>

   <div class="card highlight-card card-small">
      <span>Model-Driven Form is running!</span>
   </div>

   <app-model-driven></app-model-driven>
   <router-outlet></router-outlet>
</div>